
.footer {
    background-color: #111;
    color: #eee;
    text-align: center;
    padding: 1rem 0;
    width:100%;
    font-size: 0.9rem;
    margin-top: auto;
  }
  
  .footer-links a {
    color: #80d4ff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
   