
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
    will-change: opacity, transform;
    padding-top:9%
  }
  .reveal.active {
    opacity: 1;
    transform: none;
  }
  
  .about-paragraph {
    padding: 0 10%;
    line-height: 1.8;
    font-size: 1.1rem;
    color: #333;
    text-align: justify;
  }

.contactsec{
  padding-bottom: 16%;
}
  